<li>
  <div class='flag'>
    <div class='flag__img'>
      <img data-hook='cover' class='' />
    </div>
    <div class='flag__body'>
      <a href='' data-hook='link'><span data-hook='track'></span></a> - <span data-hook='artist'></span>
    </div>
  </div>
</li>
